<!doctype html>
<html >
<head>
    <meta charset="utf-8">
    <title>米多多兼职 </title>
    <meta name="keywords" content="米多多、快速兼职" />
    <meta name="description" content="米多多兼职" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />

    <link rel="stylesheet" href="/v1/css/base.css"/>
    <script type="text/javascript" src="/v1/js_min//third_party/sea.js" ></script>
    <script>
        window.miduoduo = {};
        miduoduo.config = {
            picUrl : "/v1/" + "img",
            access_token : null,
            userID : null,
            phone : 15110083777

        }
        miduoduo.os  = {};
        miduoduo.os.mddApp = window.WebViewJavascriptBridge || false;
        seajs.config({
            base: "/v1/js_min/",
            alias: {
                "zepto" : "third_party/zepto.js",
            }
        })
    </script>

<link rel='stylesheet' type='text/css' href='/v1/css/user/msg.css'/>
<script>seajs.use('user/msg')</script>
</head>
<body>
<div class="item1">
    <div class="icon"></div>
    <div class="intro">
        <span class="sub-main">报名消息</span>
        <span class="sub-intro">APP推广派单</span>
    </div>
    <div class="tips">new</div>
</div>
<div class="item2">
    <div class="icon"></div>
    <div class="intro">
        <span class="sub-main">系统消息</span>
        <span class="sub-intro">你有299元收入还未结算</span>
    </div>
    <div class="tips">new</div>
</div>

</body>
</html>