<!doctype html>
<html >
<head>
    <meta charset="utf-8">
    <title>米多多兼职 <%=title%></title>
    <meta name="keywords" content="米多多、快速兼职" />
    <meta name="description" content="米多多兼职" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />

    <link rel="stylesheet" href="<%=baseCssUrl%>base<%=styleFileExt%>"/>
    <script type="text/javascript" src="<%=baseJsUrl%>/third_party/sea.js" ></script>
    <script>
       // alert(window.WebViewJavascriptBridge);
        if (!window.miduoduo) { //如果app没有注入该变量，则认为不在app里
            window.miduoduo = {};
            miduoduo.os  = {};
            miduoduo.os.mddApp = false;
        } else {
            miduoduo.user = JSON.parse(miduoduo.user);
            miduoduo.os  = {};
            miduoduo.os.mddApp = true;
        }
        miduoduo.api_baseurl || (miduoduo.api_baseurl = "http://api.test.chongdd.cn/v1/");
        miduoduo.basePath = {
            base : "<%=baseUrl%>",
            picUrl : "<%=baseUrl%>" + "img"
        };
        miduoduo.user || (miduoduo.user = {}); //id username access_token
        //miduoduo.user.username = "123123";
        miduoduo.user.phone = miduoduo.user.username;
        //miduoduo.user.id = 4;

       document.addEventListener('WebViewJavascriptBridgeReady', function() {
           WebViewJavascriptBridge.defaultHandler(handle_action)
       }, false);
       function handle_action(data, responseCallback) {
           var state = true;
           var rst = {
               action: 'q_before_quit',
               result: {
                   value: state,
                   message: '',
               }
           }
           responseCallback(rst);
       };

        seajs.config({
            base: "<%=baseJsUrl%>",
            alias: {
                "zepto" : "third_party/zepto.js",
                "zepto-ext" : "widget/zepto-ext.js"
            }
        })
    </script>
