<!doctype html>
<html >
<head>
    <meta charset="utf-8">
    <title>米多多兼职 <%=title%></title>
    <meta name="keywords" content="米多多、快速兼职" />
    <meta name="description" content="米多多兼职" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />

    <link rel="stylesheet" href="<%=baseCssUrl%>base<%=styleFileExt%>"/>
    <script type="text/javascript" src="<%=baseJsUrl%>/third_party/sea.js" ></script>
    <script>
        alert(window.WebViewJavascriptBridge);
        alert(JSON.stringify(window.miduoduo));
        window.miduoduo || (window.miduoduo = {});
        miduoduo.api_baseurl || (miduoduo.api_baseurl = "http://api.test.chongdd.cn/v1/");
        miduoduo.basePath = {
            base : "<%=baseUrl%>",
            picUrl : "<%=baseUrl%>" + "img"
        };
        miduoduo.user || (miduoduo.user = {}); //id username access_token
        miduoduo.user.username = "123123";
        miduoduo.user.phone = miduoduo.user.username;
        miduoduo.user.id = 4;
        miduoduo.os  = {};
        miduoduo.os.mddApp = window.WebViewJavascriptBridge || false;
        seajs.config({
            base: "<%=baseJsUrl%>",
            alias: {
                "zepto" : "third_party/zepto.js",
                "zepto-ext" : "widget/zepto-ext.js"
            }
        })
    </script>
