<%include header.html%>
<%-css("index")%>
<%-mainJs("index")%>
</head>
<body >
<!--轮播-->
<div id="bannerSlider" class='imageSlide'>
</div>
<!--顶部导航-->
<div class="top-nav">
    <div class="item1" data-url="view/job/all-job.html">
        <img src="<%=baseImgUrl%>index/item1.png" alt=""/>
        <span>最新职位</span>
    </div>
    <div class="item2" data-url="view/job/all-job.html?type=12">
        <img src="<%=baseImgUrl%>index/item2.png" alt=""/>
        <span>促销专员</span>
    </div>
    <div class="item3" data-url="view/job/all-job.html?type=1">
        <img src="<%=baseImgUrl%>index/item4.png" alt=""/>
        <span>派单</span>
    </div>
    <div class="item4" data-url="view/job/all-job.html?type=5">
        <img src="<%=baseImgUrl%>index/item3.png" alt=""/>
        <span>临时工</span>
    </div>
</div>

<div class="content">
    <div class="content-bar">

    </div>
    <!--职位列表-->
    <%include widget/job-list-tpl.html%>
</div>
<!--banner 轮播模板-->
<script type="text/html" id="banner-slide-tpl">
    <ul>
        <? this.banners.forEach(function(e) {?>
        <li>
            <a data-tag="<?=e.tag?>" href="<?=e.url?>">
                <img src="<?=e.imgSrc?>" alt=""/>
            </a>
        </li>
        <?});?>
    </ul>
    <div class="num"></div>
</script>
</body>
</html>