<%include header.html%>
<%-css("index")%>
<%-mainJs("index")%>
</head>
<body >
<!--轮播-->
<div id="bannerSlider" class='imageSlide'>
</div>
<!--顶部导航-->
<div class="top-nav">
    <div class="item1" data-url="view/job/all-job.html">
        <img src="<%=baseImgUrl%>index/item1.png" alt=""/>
        <span>最新职位</span>
    </div>
    <div class="item2" data-url="view/NewPage.html">
        <img src="<%=baseImgUrl%>index/item2.png" alt=""/>
        <span>暑期工</span>
    </div>
    <div class="item3">
        <img src="<%=baseImgUrl%>index/item4.png" alt=""/>
        <span>日结</span>
    </div>
    <div class="item4">
        <img src="<%=baseImgUrl%>index/item3.png" alt=""/>
        <span>实习</span>
    </div>
</div>

<div class="content">
    <div class="content-bar">

    </div>
    <!--职位列表-->
    <%include widget/job-list-tpl.html%>
</div>
<!--banner 轮播模板-->
<script type="text/html" id="banner-slide-tpl">
    <ul>
        <? this.banners.forEach(function(e) {?>
        <li>
            <a href="http://www.baidu.com">
                <img src="<?=e.imgSrc?>" alt=""/>
            </a>
        </li>
        <?});?>
    </ul>
    <div class="num"></div>
</script>
</body>
</html>