<%setTitle("消息")%>
<%include ../header.html%>
<%-css("user/msg")%>
</head>
<body>
<div class="item1 js-btn" data-type="message">
    <div class="icon"></div>
    <div class="intro">
        <span class="sub-main">报名消息</span>
    </div>
    <div class="tips job-tips"></div>
</div>
<div class="item2 js-btn" data-type="sys-message">
    <div class="icon"></div>
    <div class="intro">
        <span class="sub-main">系统消息</span>
    </div>
    <div class="tips sys-tips"></div>
</div>

<%-mainJs("user/msg")%>
<%include ../footer.html%>