<!doctype html>
<html >
<head>
    <meta charset="utf-8">
    <title>米多多兼职 </title>
    <meta name="keywords" content="米多多、快速兼职" />
    <meta name="description" content="米多多兼职" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />

    <link rel="stylesheet" href="/v1/css/base.css"/>
    <script type="text/javascript" src="/v1/js_min//third_party/sea.js" ></script>
    <script>
        window.miduoduo = {};
        miduoduo.config = {
            picUrl : "/v1/" + "img"
        }
        seajs.config({
            base: "/v1/js_min/",
            alias: {
                "zepto" : "third_party/zepto.js"
            }
        })
    </script>

<link rel='stylesheet' type='text/css' href='/v1/css/job/all-job.css'/>
<script>seajs.use('job/all-job')</script>
</head>
<body>
<div class="job-filter">
    <a class="item1">区域</a>
    <a class="item2">兼职类型</a>
    <a class="item3">排序</a>
</div>
<div class="job-filter" style="position: static">

</div>
<div class="content">

</div>
<!--职位列表模板-->
<script type="text/html" id="job-list-tpl">
    <div class="jobList">
        <? this.jobs.forEach(function(e) { ?>
        <a href="">
            <div class="part1">
                <div class="title"><?=e.title?></div>
                <?
                    var ct = new Date(e.created_time);
                    var pubDate = ct.getMonth()+1 + "-" + ct.getDate();
                ?>
                <div class="pub-time"><?=pubDate?></div>
            </div>
            <div class="part2">
                <div class="firstDiv"><?=+e.salary + "/" + (e.salary_unit_label || "?")?></div>
                <? e.labels.forEach(function(label, i){?>
                <div ><?=label?></div>
                <? }); ?>
            </div>
        </a>
        <? }); ?>
    </div>
</script>
</body>
</html>