<!doctype html>
<html >
<head>
    <meta charset="utf-8">
    <title>米多多兼职 </title>
    <meta name="keywords" content="米多多、快速兼职" />
    <meta name="description" content="米多多兼职" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />

    <link rel="stylesheet" href="/css/base.css"/>
    <script type="text/javascript" src="/js_min//third_party/sea.js" ></script>
    <script>
        window.miduoduo || (window.miduoduo = {});
        miduoduo.basePath = {
            picUrl : "/" + "img"
        };
        miduoduo.user || (miduoduo.user = {}); //id username access_token
        miduoduo.user.username = "123123";
        miduoduo.user.phone = miduoduo.user.username;
        miduoduo.user.id = 4;
        miduoduo.os  = {};
        miduoduo.os.mddApp = window.WebViewJavascriptBridge || false;
        seajs.config({
            base: "/js_min/",
            alias: {
                "zepto" : "third_party/zepto.js",
                "zepto-ext" : "widget/zepto-ext.js"
            }
        })
    </script>

<link rel='stylesheet' type='text/css' href='/css/job/job-detail.css'/>
<script>seajs.use('job/job-detail')</script>
</head>
<body>
<div class="login-dialog">
    <div class="main-panel">
        <div class="login-tips">
            您好，报名兼职职位需要登陆米多多！
        </div>
        <div class="login-btn">
            <div>立即注册</div>
            <div class="go-login">现在登陆</div>
        </div>
        <div class="close-login-dialog">x</div>
    </div>
</div>
<script type="text/html" id="main-tpl">
    <? var data = this.data;?>
    <div class="main">
        <div class="part1">
            <div class="title"><?=data.title?></div>
            <div class="label firstLabel"><?=+data.salary + "/" + (data.salary_unit_label || "?")?></div>
            <? data.labels.forEach(function(item){ ?>
            <div class="label">
                <?=item?>
            </div>
            <? }); ?>
        </div>
        <div class="part2">
            <section>
                <div class="sub-title">工作周期</div>
                <p class="info">
                    <?=data.from_date + "至" + data.to_date?>
                    <?=data.from_time + "-" + data.to_time?>
                </p>
            </section>
            <section>
                <div class="sub-title">工作地点</div>
                <p class="info">
                    <?=data.address?>
                </p>
            </section>
        </div>
        <div class="part3">
            <div class="sub-part">
                <div class="sub-title">公司信息</div>
                <p class="info">
                    <?=data.company_name || '没有记录公司名称'?> <br/>
                    联系人：<?=data.contact?> <br/>
                    联系方式：<?=data.contact_phonenum?> <br/>
                </p>

            </div>
            <a class="tel" href="tel:<?=data.contact_phonenum?>">
                <span style="visibility: hidden;font-size: 28px">电话</span> <br/>
                电话咨询
            </a>
        </div>
        <div class="part4">
            <div class="sub-title">公司信息</div>
            <p class="info">
                <?=data.detail?>
            </p>
        </div>
        <div class="part5">
            <div class="store">
                <div style="visibility: hidden;padding-bottom: 36%">藏</div><br/>
                收藏
            </div>
            <div class="report">
                <div style="visibility: hidden;padding-bottom: 36%">报</div> <br/>
                举报
            </div>
            <div class="control-btn js-unapply">
                我要报名
            </div>
        </div>
    </div>
</script>
</body>
</html>