<!doctype html>
<html >
<head>
    <meta charset="utf-8">
    <title>米多多兼职 </title>
    <meta name="keywords" content="米多多、快速兼职" />
    <meta name="description" content="米多多兼职" />
    <meta name="" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />

    <link rel="stylesheet" href="/mdd/www/m/web/origin/dest/v1/css/base.css"/>
    <script type="text/javascript" src="/mdd/www/m/web/origin/js//third_party/sea.js" ></script>
    <script>
        window.miduoduo = {};
        miduoduo.config = {
            picUrl : "/mdd/www/m/web/origin/dest/v1/" + "img"
        }
        seajs.config({
            base: "/mdd/www/m/web/origin/js/",
            alias: {
                "zepto" : "third_party/zepto.js",
                "angular": "third_party/angular.min.js",
                "ngResource" : "third_party/angular-resource.min.js"
            }
        })
    </script>

<link rel='stylesheet' type='text/css' href='/mdd/www/m/web/origin/dest/v1/css/index.css'/>
<script>seajs.use('index')</script>
</head>
<body >
<div id="bannerSlider" class='imageSlide'>
    <ul>
        <li>
            <a href=""><img src="/mdd/www/m/web/origin/dest/v1/img/index/banner1.jpg"/></a>
        </li>
        <li>
            <a href=""><img src="/mdd/www/m/web/origin/dest/v1/img/index/banner2.jpg"/></a>
        </li>
        <li>
            <a href=""><img src="/mdd/www/m/web/origin/dest/v1/img/index/banner1.jpg"/></a>
        </li>
        <li>
            <a href=""><img src="/mdd/www/m/web/origin/dest/v1/img/index/banner2.jpg"/></a>
        </li>
    </ul>
    <div class="num"></div>
</div>

</body>
</html>