@import "../atom.less";
@import "../widget/resume-base-tpl";
@import "resume-job-type.less";
@import "../widget/calendar";
body {
  .bgc(#eee);
}

.resume-base();

/*.main1 {
  .next-btn {
    position: fixed;
    left: 3%;
    right: 3%;
    bottom: 2%;
  }
}*/
