@import "../atom";
/*
职位列表样式
*/
.jobList() {
  .jobList {
    & > a {
      .block;
      .w(94%);
      border-bottom: 1px solid #eee;
      padding: 3%;
      .clearfix;
    }
    .part1 {
      .clearfix;
      div {
        .mb(6px);
      }
      .title {
        .left;
        .f2;
        .black;
      }
      .pub-time {
        .f2;
        .right;
        .grey;
      }
    }
    .part2 {
      clear: both;
      .clearfix;
      div {
        .left;
        .mr(1%);
        .mt(6px);
        padding: 6px;
        border: 1px solid #f0f2f1;
        .border-r;
        .f1;
        .grey;
      }
      .firstDiv {
        border: 1px solid #ff7b5d;
        color: #ff7b5d;
      }
    }
  }

  .others {
    .w(97%);
    .pl(3%);
    .clearfix;
    border-bottom: 10px solid #eee;
    div,a {
      display: inline-block;
      .pt(2%);
      .pb(2%);
      vertical-align: middle;
      .c;
      .f1;
      span {
        display: inline-block;
        padding: 5% 0;
      }
    }
    .status {
      .w(50%);
      text-align: left;
      .f2;
      .fc(#ff7b5d);
    }
    .report {
      .pr;
      .w(20%);
      box-sizing: border-box;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      .f1;
      .fc(#606c77);
      &:after {
        .if-report;
        .pa;
        top: 15%;
        left: 0;
        right: 0;
        .c;
        .f(1.2rem);
        .fc(#606c77);
      }
    }
    .tel {
      .pr;
      .w(27%);
      .f1;
      .fc(#00b966);
      &:after {
        .if-tel;
        .pa;
        top: 18%;
        left: 0;
        right: 0;
        .c;
        .f(1.2rem);
        .fc(#00b966);
      }
    }
  }
}
/*加载中*/
.pullUp {
  .none;
  .bgc(#eee);
  .f1;
  .grey;
  .c;
  padding : 2%;
}
