<!--职位列表模板-->
<script type="text/html" id="job-list-tpl">
    <div class="jobList">
        <? this.jobs.forEach(function(e) { ?>
        <a href="">
            <div class="part1">
                <div class="title"><?=e.title?></div>
                <div class="pub-time"><?=e.pubTime?></div>
            </div>
            <div class="part2">
                <div class="salary-info firstDiv"><?=e.salaryInfo?></div>
                <div class="payment-type"><?=e.paymentType?></div>
                <div calss="work-time"><?=e.workTime?></div>
                <div class="district"><?=e.district?></div>
            </div>
        </a>
        <? }); ?>
    </div>
</script>