<!--职位列表模板-->
<script type="text/html" id="job-list-tpl">
    <div class="jobList">
        <? this.jobs.forEach(function(e) { ?>
        <a href="">
            <div class="part1">
                <div class="title"><?=e.title?></div>
                <?
                    var ct = new Date(e.created_time);
                    var pubDate = ct.getMonth()+1 + "-" + ct.getDate();
                ?>
                <div class="pub-time"><?=pubDate?></div>
            </div>
            <div class="part2">
                <div class="firstDiv"><?=+e.salary + "/" + (e.salary_unit_label || "?")?></div>
                <? e.labels.forEach(function(label, i){?>
                <?if (label) {?>
                <div ><?=label?></div>
                <? } ?>
                <? }); ?>
            </div>
        </a>
        <div class="others">
            <div class="status">报名成功</div>
            <div class="report"> <span>x</span><br/>举报</div>
            <a class="tel" href="tel:18310835520"><span>x</span><br/>联系企业</a>
        </div>
        <? }); ?>
    </div>
</script>