<!doctype html>
<html >
<head>
    <meta charset="utf-8">
    <title>米多多兼职 </title>
    <meta name="keywords" content="米多多、快速兼职" />
    <meta name="description" content="米多多兼职" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />

    <link rel="stylesheet" href="/v1/css/base.css"/>
    <script type="text/javascript" src="/v1/js_min//third_party/sea.js" ></script>
    <script>
        window.miduoduo = {};
        miduoduo.config = {
            picUrl : "/v1/" + "img"
        }
        seajs.config({
            base: "/v1/js_min/",
            alias: {
                "zepto" : "third_party/zepto.js"
            }
        })
    </script>
