<%include ../header.html%>
<%-css("user/center-index")%>
<%-mainJs("user/center-index")%>
</head>
<body>
    <div class="state">
            <img src="<%=baseImgUrl%>user/default-avatar.jpg" alt=""/>
            <span   class="register">注册</span>
            <span class="login">登陆</span>
    </div>
    <div class="nav">
        <div class="item">我的兼职</div>
        <div class="item">我的收藏</div>
        <div class="item">我的简历</div>
    </div>
    <div class="contact-us item">联系我们</div>
</body>
</html>