<%include ../header.html%>
<%-css("user/msg")%>
<%-mainJs("user/msg")%>
</head>
<body>
<div class="item1 js-btn" data-type="message">
    <div class="icon"></div>
    <div class="intro">
        <span class="sub-main">报名消息</span>
        <span class="sub-intro">APP推广派单</span>
    </div>
    <div class="tips">new</div>
</div>
<div class="item2 js-btn" data-type="sys-message">
    <div class="icon"></div>
    <div class="intro">
        <span class="sub-main">系统消息</span>
        <span class="sub-intro">你有299元收入还未结算</span>
    </div>
    <div class="tips">new</div>
</div>

</body>
</html>