<%include ../header.html%>
<%-css("user/resume-job-type")%>
<%-mainJs("user/resume-job-type")%>
</head>
<body>
<div class="tips">
    请选择您擅长的兼职类型（可多选）！
</div>
<div class="content">

</div>
<div class="submit-placeholder" style="position: static; background: #fff">
    <div class="submit-btn-placeholder">
        返回
    </div>
</div>
<div class="submit">
    <div class="submit-btn">
        返回
    </div>
</div>


<script type="text/html" id="job-type-list-tpl">
    <div class="item act">
        客服
    </div>
    <div class="item">
        客服
    </div>
</script>
</body>
</html>