<%setTitle("职位列表")%>
<%include ../header.html%>
<%-css("job/all-job")%>
<%-mainJs("job/all-job")%>
</head>
<body>
<div class="job-filter">
    <a class="item1 js-district-btn">区域</a>
    <a class="item2 js-job-type-btn">兼职类型</a>
    <a class="item3 js-sort-btn">排序</a>
</div>
<div class="job-filter" style="position: static">

</div>
<!--职位列表-->
<%include ../widget/job-list-tpl.html%>
<!--区域列表-->
<script type="text/html" id="district-list-tpl">
    <ul class="district-list js-top-filter-btn" data-btn="js-district-btn">
        <li data-all="district">全部区域</li>
        <? this.list.forEach(function(item){ ?>
       <li id="district-<?=item.id?>" data-uid="district:district_id:<?=item.id?>"><?=item.name?></li>
        <? }); ?>
    </ul>
</script>
<!--兼职类型列表-->
<script type="text/html" id="job-type-list-tpl" >
    <ul class="job-type-list js-top-filter-btn" data-btn="js-job-type-btn">
        <li data-all="service-type">全部</li>
        <? this.list.forEach(function(item){ ?>
        <li id="type-<?=item.id?>" data-uid="service-type:service_type_id:<?=item.id?>"><?=item.name?></li>
        <? }); ?>
    </ul>
</script>
<!--排序列表-->
<script type="text/html" id="sort-list-tpl" >
    <ul class="sort-list js-top-filter-btn">
        <li>默认</li>
    </ul>
</script>
<%include ../footer.html%>